/*Paleta de cores do site

#012B5C - Azul escuro para background e botoes
#ADD3FF - azul bebe para textos e links
#ddedff - azul bem claro para background

#184B86 - azul marinho para titulos e hover de botes

#3D73B1 - azul meio tom
#70A2DB - azul meio tom levemente mais claro*/


/*importando a fonte que vou usar*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=League+Spartan:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');


/*definindo configuracoes gerais de inicio*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(255,255,255);

}

/*Estilo do site*/

.fontDecor{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.fontDestaque{
    font-weight: bold;
    color: rgb(0,0,0);
}

/*------------------------ pagina inicial comeca aqui ------------------------*/

#homePage{
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    margin-top: 20px;
}

.linkSelected{
    color: #ADD3FF;
}

.linkHome{
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 0.5px;
    padding: 20px;
    transition: all 0.3s ease;
}

.linkHome:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: bold;
}

#homeContent-wrapper{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homeTitulo{
    font-size: 4em;
}

#homeParagraph{
    margin-top: 10px;
    letter-spacing: 0.5px;

}

/*------------------------ Sobre comeca aqui ------------------------*/

#sobreWrapper{
    background-color: #ddedff;
    display: flex;
}

#sobreHeadshot{
    margin: 60px 0 0 80px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px rgb(0,0,0);
}

#sobreConteudoWrapper{
    margin: 60px;
}

#sobreTitle{
    color: #012B5C;
    font-size: 3em;
    font-weight: bold; 
}

.sobreParagraph{
    margin: 10px 0;
    text-indent: 3em;
    color: black;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: justify;
    font-size: 1.1em;
}

/*------------------------ Habilidades comeca aqui ------------------------*/

#habilidades{
    padding: 100px;
}

#habilidadeCategoria{
    color: rgb(0,0,0);
    margin-left: 30px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #ADD3FF;
}


.habilidadeWrapper{
    margin: 30px;
}

.habilidadeTitle{
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
}

.habilidadeSubtitle{
    margin-top: 5px;
    color: #ADD3FF;
    font-size: 1.1em;
    font-style: italic; 
}

.habilidadeParagraph{
    margin: 20px 0 100px 0;
    text-indent: 3em;
    color: black;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: justify;
    font-size: 1em;
}

/*------------------------ Portfolio comeca aqui ------------------------*/

#portfolio{
    background-color: rgb(228, 228, 228);
}

/*------------------------ Contato comeca aqui ------------------------*/
#contato{
    background-color: #dedede;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactTitleWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contactIcon{
    height: 100px;
    margin-left: 100px;
}

#contactTitle{
    color: #012B5C;
    font-size: 1.2em;
    margin:0px 100px 0px 150px;
    text-align: justify;
    line-height: 1.4;
}

#formSocialsWrap{
    display: flex;
    min-width: 1200px;
}

form{
    margin: 50px 300px 0 10px;
}

.formularioLinha{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.formularioLinha label{
    color: #000000;
    min-width: 100px;
    text-align: left;
    font-size: 1.2em;
    flex: 1;
}

.formularioLinha input, .formularioLinha textarea{
    width: 400px;
    padding: 8px;
    border-radius: 4px;
    background-color: #e3e3e3;
    color: #000000;
    flex: 2;
}

#contactButton{
    height: 40px;
    width: 100px;
    color: rgb(255,255,255);
    background-color: #012B5C;
    transition: all 0.3s ease;
}

#contactButton:hover{
    background-color: #ADD3FF;
    color: #000000;
    cursor: pointer;
}

#contatoLinks{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 50px;
}

.linkContato{
    height: 30px;
    padding: 40px
}

/*------------------------ footer comeca aqui ------------------------*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 300px;
    background-color: #012B5C;
}

.footerLinks{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.linkFooter{
    color: #ADD3FF;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 0.5px;
    padding: 20px;
    transition: all 0.3s ease;
}

.linkFooter:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: bold;
}

.imagensLinksSociais{
    height: 40px;
    padding: 0 10px;
}

#footerParagraph{
    margin-top: 30px;
    font-size: 0.7em;
    color: #ADD3FF;
}

/* Responsividade para tablets*/

@media (min-width:768px) and (max-width:1023px){

    #homeTitle{
        font-size: 2.5em;
    }

    footer{
        height: 200px;
    }

    .footerLinks{
        margin: 10px 0;
    }


    #contato{
        padding: 30px;
    }

    #contactTitleWrap{
        flex-direction: column;
    }


    #contactTitle{
        font-size: 1.2em;
        margin-top: 20px;
    }

    #formSocialsWrap{
        flex-direction: column;
    }

    form{
        margin: 50px auto;
    }


    #contatoLinks{
        display: inline;  
        margin: 40px auto;
    }

}


/* Responsividade para smarthphones*/

@media screen and (max-width:767px){

    nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .linkHome{
        padding: 6px;
    }

    #homeTitulo{
        font-size: 1.8em;
    }

    #homeParagraph{
        font-size: 0.8em;
        margin-top: 5px;
    }


    #sobreWrapper{
        flex-direction: column;
        align-items: center;
    }

    #sobreTitulo{
        font-size: 2em;
    }

    #sobreParagrafo{
        font-size: 0.8em;
    }

    #sobreHeadshot{
        height: 250px;
        width: 250px;
    }

    #habilidades{
    padding: 30px;
    }

    .footerLinks{
        margin: 5px 0;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .linkFooter{
        font-size: 0.8em;
        padding: 5px;
    }

    #footerLinksWrapper{
        display: flex;
        align-items: center;
    }

    .imagensLinksSociais{
        height: 25px;
    }

    #contato{
        padding: 20px;
    }

    #contactTitleWrap{
        flex-direction: column;
    }

    #contactIcon{
        margin: 30px auto;
    }

    #contactTitle{
        font-size: 1em;
        margin: 5px;
    }

    #formSocialsWrap{
        flex-direction: column;
    }

    form{
        margin: 100px auto 0 auto;
        max-width: 350px;
        font-size: 0.8em;
    }

    .imagensLinksSociais{
        display: none;
    }

}